<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityApplication:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityApplication.war">
      <element id="artifact" artifact-name="SpringSecurityApplication:war exploded" />
    </root>
  </artifact>
</component>